<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>Conta App+</title>
    <!--
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script>

        function NumDias() {
            var FechaVencimiento = new Date(document.getElementById('FechaVencimientoID').value);
            var FechaDescuento = new Date(document.getElementById('FechaDescuentoID').value);
            var ndias = parseInt((FechaVencimiento - FechaDescuento) / (24 * 3600 * 1000));
            if (document.getElementById("FechaVencimientoID")) {
                return ndias;
            }
        }
        var CostoGastoInicialArr = [];
        function CostoGastoInicial(){
            var CostoGastoI = document.getElementById("CostoGastoInicial").value;
            if (!CostoGastoI) return;
            document.getElementById('textareainiciales').append(CostoGastoI + ' + ');
            CostoGastoInicialArr.push(parseFloat(CostoGastoI));
            var TotalCostoGastoI = 0;
            CostoGastoInicialArr.forEach(function (CostoGastoInicialArr){
               TotalCostoGastoI += CostoGastoInicialArr;
            });
            document.getElementById('CostoGastoInicial').value = '';
            return TotalCostoGastoI;
        }

        var CostoGastoFinalArr = [];
        function CostoGastoFinal(){
            var CostoGastoF = document.getElementById("CostoGastoFinal").value;
            if (!CostoGastoF) return;
            document.getElementById('textareafinales').append(CostoGastoF + ' + ');
            CostoGastoFinalArr.push(parseFloat(CostoGastoF));
            var TotalCostoGastoF = 0;
            CostoGastoFinalArr.forEach(function (CostoGastoFinalArr){
                TotalCostoGastoF += CostoGastoFinalArr;
            });
            document.getElementById('CostoGastoFinal').value = '';
            return TotalCostoGastoF;
        }

        function TipoAño() {
            //var TotalCostoGastoI = CostoGastoInicial();
            //var TotalCostoGastoF = CostoGastoFinal();
            var select = document.getElementById('selectTipoMoneda');
            var TipoMoneda = select.options[select.selectedIndex].text;
            console.log(TipoMoneda);

            //selectTipoTasa
            var selectTT = document.getElementById('selectTipoTasa');
            var TipoTasa = selectTT.options[selectTT.selectedIndex].text;
            console.log(TipoTasa);
            if(TipoTasa === 'Efectiva' || TipoTasa === '-'){
                document.getElementById("frecuenciaC").disabled = true;
            }else{document.getElementById("frecuenciaC").disabled = false;}
//frecuenciaC
            var FrecCapitalizacion = document.getElementById("frecuenciaC").value;
            console.log(FrecCapitalizacion);
            var DiferenciaDias = NumDias();
            var DiasAño = 0;
            var TipoPlaza = document.getElementById("selectTipoPlazo").value;
            var TasaEfectivaAnual = document.getElementById("TasaEfectivaAnual").value;
//selectTipoPlazo
            //Conversiones de Tasa Efectiva a Efectiva
            if(TipoTasa === 'Efectiva') {
                if (TipoPlaza == 1) {
                    console.log('Diario');
                    TasaEfectivaAnual = (100*(Math.pow(1+(TasaEfectivaAnual/100),(360/1))-1)).toFixed(8);
                    console.log(TasaEfectivaAnual);
                } else if (TipoPlaza == 2) {
                    console.log('Quincenal');
                    TasaEfectivaAnual = (100*(Math.pow(1+(TasaEfectivaAnual/100),(24/1))-1)).toFixed(8);
                    console.log(TasaEfectivaAnual);
                } else if (TipoPlaza == 3) {
                    console.log('Mensual');
                    TasaEfectivaAnual = (100*(Math.pow(1+(TasaEfectivaAnual/100),(12/1))-1)).toFixed(8);
                    console.log(TasaEfectivaAnual);
                } else if (TipoPlaza == 4) {
                    console.log('Bimestral');
                    TasaEfectivaAnual = (100*(Math.pow(1+(TasaEfectivaAnual/100),(6/1))-1)).toFixed(8);
                    console.log(TasaEfectivaAnual);
                } else if (TipoPlaza == 5) {
                    console.log('Trimestral');
                    TasaEfectivaAnual = (100*(Math.pow(1+(TasaEfectivaAnual/100),(4/1))-1)).toFixed(8);
                    console.log(TasaEfectivaAnual);
                } else if (TipoPlaza == 6) {
                    console.log('Cuatrimestral');
                    TasaEfectivaAnual = (100*(Math.pow(1+(TasaEfectivaAnual/100),(3/1))-1)).toFixed(8);
                    console.log(TasaEfectivaAnual);
                } else if (TipoPlaza == 7) {
                    console.log('Semestral');
                    TasaEfectivaAnual = (100*(Math.pow(1+(TasaEfectivaAnual/100),(2/1))-1)).toFixed(8);
                    console.log(TasaEfectivaAnual);
                } else if (TipoPlaza == 8) {
                    console.log('Anual');
                    TasaEfectivaAnual = TasaEfectivaAnual * 1;
                    console.log(TasaEfectivaAnual);
                }
            }else if(TipoTasa === 'Nominal'){
                if (TipoPlaza == 1) {
                    console.log('Diario');
                    TasaEfectivaAnual = (100*(Math.pow(1+(TasaEfectivaAnual*360)/(100*FrecCapitalizacion),FrecCapitalizacion/1)-1)).toFixed(8);
                    console.log(TasaEfectivaAnual);
                } else if (TipoPlaza == 2) {
                    console.log('Quincenal');
                    TasaEfectivaAnual = (100*(Math.pow(1+(TasaEfectivaAnual*24)/(100*FrecCapitalizacion),FrecCapitalizacion/1)-1)).toFixed(8);
                    console.log(TasaEfectivaAnual);
                } else if (TipoPlaza == 3) {
                    console.log('Mensual');
                    TasaEfectivaAnual = (100*(Math.pow(1+(TasaEfectivaAnual*12)/(100*FrecCapitalizacion),FrecCapitalizacion/1)-1)).toFixed(8);
                    console.log(TasaEfectivaAnual);
                } else if (TipoPlaza == 4) {
                    console.log('Bimestral');
                    TasaEfectivaAnual = (100*(Math.pow(1+(TasaEfectivaAnual*6)/(100*FrecCapitalizacion),FrecCapitalizacion/1)-1)).toFixed(8);
                    console.log(TasaEfectivaAnual);
                } else if (TipoPlaza == 5) {
                    console.log('Trimestral');
                    TasaEfectivaAnual = (100*(Math.pow(1+(TasaEfectivaAnual*4)/(100*FrecCapitalizacion),FrecCapitalizacion/1)-1)).toFixed(8);
                    console.log(TasaEfectivaAnual);
                } else if (TipoPlaza == 6) {
                    console.log('Cuatrimestral');
                    TasaEfectivaAnual = (100*(Math.pow(1+(TasaEfectivaAnual*3)/(100*FrecCapitalizacion),FrecCapitalizacion/1)-1)).toFixed(8);
                    console.log(TasaEfectivaAnual);
                } else if (TipoPlaza == 7) {
                    console.log('Semestral');
                    TasaEfectivaAnual = (100*(Math.pow(1+(TasaEfectivaAnual*2)/(100*FrecCapitalizacion),FrecCapitalizacion/1)-1)).toFixed(8);
                    console.log(TasaEfectivaAnual);
                } else if (TipoPlaza == 8) {
                    console.log('Anual');
                    TasaEfectivaAnual = (100*(Math.pow(1+(TasaEfectivaAnual*1)/(100*FrecCapitalizacion),FrecCapitalizacion/1)-1)).toFixed(8);
                    console.log(TasaEfectivaAnual);
                }
            }


            var ValorNominal = document.getElementById("ValorNominal").value;
            var r = document.getElementById("selectTipoAño").value;
            if (r == 1) DiasAño = 360;
            else if (r == 2) DiasAño = 365;
            console.log(DiasAño);
            console.log(DiferenciaDias);
            console.log('TEA: '+TasaEfectivaAnual);
            var TE = (Math.pow((1 + (TasaEfectivaAnual / 100)), (DiferenciaDias / DiasAño)) - 1);
            console.log('TE: '+TE*100);
            //var totalTCEA = (Math.pow((1 + (TasaEfectivaAnual / 100)), (DiferenciaDias / DiasAño)) - 1) * 100;
            var d = ((TE)/((TE)+1));
            console.log('d: '+d*100);
            var Descuento = ValorNominal * d;
            console.log('Descuento: '+Descuento);
            var ValorNeto = ValorNominal - Descuento;
            console.log('ValorNeto: ', ValorNeto);
            //console.log('CostoGastoInicial: '+ TotalCostoGastoI);
            //console.log('CostoGastoFinal: '+ TotalCostoGastoF);
            var Retencion = document.getElementById("valorRetencion").value;
            var TotalRetencion = parseFloat((Retencion/100 * ValorNominal));
            console.log('Retencion',TotalRetencion);
            var ValorRecibido = ValorNeto - parseFloat(205) - TotalRetencion;
            console.log("ValorRecibido",ValorRecibido);
            var ValorEntregado = parseInt(ValorNominal) + parseFloat(45) - TotalRetencion;
            console.log("ValorEntregado:",ValorEntregado);
            var TCEA = (Math.pow((ValorEntregado/ValorRecibido),(DiasAño/DiferenciaDias))-1);
            document.getElementById("vtrds").innerHTML = `${TipoMoneda} `+ValorRecibido.toFixed(2);
            document.getElementById("tceads").innerHTML = TCEA*100+'%';
        }

    </script>
</head>

<body style="background:#117da4">

<section id="Home">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top mb-2" style="background-color: #032e58;">
        <div class="container-fluid">
            <a class="navbar-brand" href="inicio" th:action="@{/inicio}">CONTA APP +</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="inicio" th:action="@{/inicio}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="nosotros" th:action="@{/nosotros}">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="preguntas" th:action="@{/preguntas}" >Preguntas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="reportes" th:action="@{/reportes}"  tabindex="-1">Reportes</a>
                    </li>
                </ul>
                <div sec:authorize="isAuthenticated()">
                    <form class="d-flex" id="logoutForm" method="POST" th:action="@{/logout}">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    </form>
                    <button class="btn btn-outline-danger" onclick="document.forms['logoutForm'].submit()">Logout</button>
                </div>
            </div>
        </div>
    </nav>
</section>

<section id="Letra">

    <div id="content" class="p-4 p-md-5 pt-5 mt-4">
        <form th:action="@{/inicio}" th:object="${letra}" method="post"><!--th:object="${letraForm}" th:action="@{/inicio}"-->
            <div class="container">
                <h2 class="text-white">Bienvenido <span sec:authentication="name"></span></h2>
                <hr class="style13" style="color: #eeeeee">
                <div class="row">
                    <div class="col-md-12">
                        <!--Primera fila-->
                        <div class="row1">
                            <div class="form-group row">
                                <div class="col-sm-2">
                                    <span class="badge badge-default" style="font-size: 22px">Grupo</span>
                                </div>
                                <div class="col">
                                    <input type="text" name="gruponame">
                                </div>

                                <div class="col-sm-2">
                                    <span class="badge badge-default" style="font-size: 22px">Valor Nominal</span>
                                </div>
                                <div class="col">
                                    <input type="number"  name="ValorNominal" id="ValorNominal" onchange="TipoAño()" >
                                    <!-- th:field="*{valorN}"-->
                                    <!--<span class="has-error"th:if="${#fields.hasErrors('valorN')}" th:errors="*{valorN}"></span>-->
                                </div>

                                <div class="col-sm-2">
                                    <span class="badge badge-default" style="font-size: 22px">Tipo de Moneda</span>
                                </div>
                                <div class="col">
                                    <select class="form-select" id="selectTipoMoneda" onchange="TipoAño()">
                                        <option value="0">-</option>
                                        <option value="1">S/.</option>
                                        <option value="2">$</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!--Fin primera fila-->
                    </div>
                </div>
            </div>

            <div class="container rounded p-3 mt-3 mb-3" style="background: #6eb7ce; ">
                <div class="row">
                    <div class="col-md-12">
                        <!--Primera fila-->
                        <div class="row1">
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <span class="badge badge-default" style="font-size: 22px">Tipo de Tasa</span>
                                </div>
                                <div class="col">
                                    <select class="form-select"  id="selectTipoTasa" onchange="TipoAño()">
                                        <option value="0">-</option>
                                        <option value="1">Efectiva</option>
                                        <option value="2">Nominal</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!--Fin primera fila-->
                        <!--Primera fila-->
                        <div class="row2 mt-3">
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <span class="badge badge-default" style="font-size: 22px">Frec. de Capitalización</span>
                                </div>
                                <div class="col">
                                    <select class="form-select" id="frecuenciaC" onchange="TipoAño()" disabled="disabled">
                                        <option value="0">-</option>
                                        <option value="360">Diario</option>
                                        <option value="24">Quincenal</option>
                                        <option value="12">Mensual</option>
                                        <option value="6">Bimestral</option>
                                        <option value="4">Trimestral</option>
                                        <option value="3">Cuatrimestral</option>
                                        <option value="2">Semestral</option>
                                        <option value="1">Anual</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!--Fin primera fila-->

                        <!--Segunda fila-->
                        <div class="row2 mt-3">
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <span class="badge badge-default" style="font-size: 22px">Dias por año</span>
                                </div>
                                <div class="col">

                                    <select class="form-select" id="selectTipoAño" onchange="TipoAño()">
                                        <option value="0">-</option>
                                        <option value="1">360 dias</option>
                                        <option value="2">365 dias</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!--Fin segunda fila-->

                        <!--Tercera fila-->
                        <div class="row2 mt-3">
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <span class="badge badge-default" style="font-size: 22px">Plazo de tasa</span>
                                </div>
                                <div class="col">
                                    <select class="form-select" id="selectTipoPlazo" onchange="TipoAño()">
                                        <option value="0">-</option>
                                        <option value="1">Diario</option>
                                        <option value="2">Quincenal</option>
                                        <option value="3">Mensual</option>
                                        <option value="4">Bimestral</option>
                                        <option value="5">Trimestral</option>
                                        <option value="6">Cuatrimestral</option>
                                        <option value="7">Semestral</option>
                                        <option value="8">Anual</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!--Fin tercera fila-->

                        <!--Cuarta fila-->
                        <div class="row2 mt-3">
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <span class="badge badge-default" style="font-size: 22px">Tasa efectiva</span>
                                </div>
                                <div class="col">
                                    <input type="number" name="fname" id="TasaEfectivaAnual" onchange="TipoAño()">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <span class="badge badge-default" style="font-size: 22px">Fecha de Descuento</span>
                                </div>
                                <div class="col-sm-3">
                                    <input class="form-control" type="date" id="FechaDescuentoID" name="dateD" onchange="TipoAño()">
                                </div>
                                <div class="col-sm-3">

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!--Fin de primer rectangulo-->
            <!--Inicio de la linea entre los rectangulos-->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!--Primera fila-->
                        <div class="row1">
                            <div class="form-group row">
                                <div class="col-sm-2">
                                    <span class="badge badge-default" style="font-size: 22px">Retención</span>
                                </div>
                                <div class="col">
                                    <input type="number" name="Retencion" id="valorRetencion" onchange="TipoAño()">
                                </div>

                                <div class="col-sm-3">
                                    <span class="badge badge-default"
                                          style="font-size: 22px">Fecha de Vencimiento</span>
                                </div>
                                <div class="col">
                                    <input class="form-control" type="date" id="FechaVencimientoID" name="dateV" onchange="TipoAño()">
                                </div>

                            </div>
                        </div>
                        <!--Fin primera fila-->
                    </div>
                </div>
            </div>
            <!--Fin de la linea entre los rectangulos-->

            <!--Inicio Costos Gastos Iniciales-->
            <div class="container rounded p-3 mt-3 mb-3" style="background: #6eb7ce; ">
                <div class="row">
                    <div class="col-md-12">
                        <!--Primera fila-->
                        <div class="row justify-content-md-center">
                            <span class="badge badge-default" style="font-size: 30px">Gastos/Costos Iniciales</span>
                        </div>
                        <!--Fin primera fila-->

                        <!--Segunda fila-->
                        <div class="row2 mt-2">
                            <div class="form-group row">
                                <div class="col-sm-auto">
                                    <span class="badge badge-default" style="font-size: 22px">Costo-Gasto</span>
                                </div>
                                <div class="col-sm-auto">
                                    <input type="number" name="CostoGastoInicial" id="CostoGastoInicial">
                                </div>
                                <div class="col-sm-auto">
                                    <button type="button" class="btn btn-success btn-md" onclick="TipoAño()">Agregar</button>
                                </div>
                            </div>
                        </div>
                        <!--Fin segunda fila-->
                        <!--Tercera fila-->
                        <div class="row align-items-center">
                            <div class="col ">
                                <textarea class="form-control" aria-label="With textarea" readonly="readonly"
                                          id="textareainiciales" style="resize: none"></textarea>

                            </div>
                        </div>
                        <!--Fin tercera fila-->
                    </div>
                </div>
            </div>
            <!--Final de Costos Gastos Inicales-->

            <!--Inicio Costos Gastos Finales-->
            <div class="container rounded p-3 mb-3" style="background: #6eb7ce; ">
                <div class="row">
                    <div class="col-md-12">
                        <!--Primera fila-->
                        <div class="row justify-content-md-center">
                            <span class="badge badge-default" style="font-size: 30px">Gastos/Costos Finales</span>
                        </div>
                        <!--Fin primera fila-->

                        <!--Segunda fila-->
                        <div class="row2 mt-2">
                            <div class="form-group row">
                                <div class="col-sm-auto">
                                    <span class="badge badge-default" style="font-size: 22px">Costo-Gasto</span>
                                </div>
                                <div class="col-sm-auto">
                                    <input type="number" name="CostoGastoFinal" id="CostoGastoFinal">
                                </div>
                                <div class="col-sm-auto">
                                    <button type="button" class="btn btn-success btn-md" onclick="TipoAño()">Agregar</button>
                                </div>
                            </div>
                        </div>
                        <!--Fin segunda fila-->
                        <!--Tercera fila-->
                        <div class="row align-items-center">
                            <div class="col ">
                                <textarea class="form-control" aria-label="With textarea" readonly="readonly"
                                          id="textareafinales" style="resize: none" ></textarea>
                            </div>
                        </div>
                        <!--Fin tercera fila-->
                    </div>
                </div>
            </div>
            <!--Inicio de la linea entre los rectangulos-->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!--Primera fila--->
                        <div class="row1">
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <span class="badge badge-default"
                                          style="font-size: 22px">Valor Total a Recibir</span>
                                </div>
                                <div class="col-sm">
                                    <span class="badge badge-default" style="font-size: 22px" id="vtrds">...</span>
                                </div>

                                <div class="col-sm-2">
                                    <span class="badge badge-default" style="font-size: 22px">TCEA</span>
                                </div>
                                <div class="col-sm">
                                    <span class="badge badge-default" style="font-size: 22px" id="tceads">...</span>
                                </div>
                            </div>
                        </div>
                        <!--Fin primera fila-->
                    </div>
                </div>
            </div>
            <!--Fin de la linea entre los rectangulos-->
            <button class="btn btn-lg btn-primary btn-block" type="submit">Agregar Letra</button>
        </form>
        <!--Final de Costos Gastos Finales-->
    </div>
</section>


<!--<div id="numdays"><label class="form">Number of days:</label><input type="text" class="textbox" id="a" name="numdays"/></div>-->

<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white" style="background-color: #1a252f;">
    <div class="container">Copyright &copy; UPC 2021</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="http://momentjs.com/downloads/moment.min.js"></script>
</body>
</html>
